# Auto detect text files and perform LF normalization
* text=auto

# Shell scripts must always be LF, even on Windows checkouts
*.sh text eol=lf

# JSON, markdown, and YAML normalized to LF
*.json text eol=lf
*.md text eol=lf
*.yml text eol=lf
